/.idea/dataSources/2f5914d8-5ce2-4a98-bff0-e00488002246.xml
/.idea/dataSources/2f5914d8-5ce2-4a98-bff0-e00488002246/storage_v2/_src_/schema/blog.oi8uAA.meta
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/dataSources/2f5914d8-5ce2-4a98-bff0-e00488002246/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/jarRepositories.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/dataSources/2f5914d8-5ce2-4a98-bff0-e00488002246/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/2f5914d8-5ce2-4a98-bff0-e00488002246/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
.idea/