<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sakai.weibo.mapper.CommentMapper">

    <insert id="insertComment">
        INSERT INTO blog.comment (content, created, user_id, weibo_id)
        VALUES (#{content}, #{created}, #{userId}, #{weiboId})
    </insert>
    <select id="selectListByWeiboId" resultType="top.sakai.weibo.pojo.vo.CommentVO">
        SELECT c.content, c.created, c.user_id, c.weibo_id,u.nickname
        FROM blog.comment c JOIN blog.user u on u.id = c.user_id
        WHERE weibo_id = #{id}
    </select>
</mapper>
