<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sakai.weibo.mapper.WeiboMapper">

    <insert id="post">
        INSERT INTO blog.weibo(content, created, user_id)
        VALUES (#{content}, #{created}, #{userId})
    </insert>
    <select id="selectForIndex" resultType="top.sakai.weibo.pojo.vo.WeiboIndexVO">
        SELECT w.id, w.content, u.nickname
        FROM blog.weibo w
                 JOIN blog.user u on u.id = w.user_id
        ORDER BY w.created DESC
    </select>
    <select id="selectForId" resultType="top.sakai.weibo.pojo.vo.WeiboIndexVO">

    SELECT w.id, w.content, u.nickname
        FROM blog.weibo w
                 JOIN blog.user u on u.id = w.user_id
        WHERE w.user_id = #{userId}
    </select>
    <delete id="deleteByWeiboId">
        DELETE
        FROM blog.weibo
        WHERE id = #{id}
    </delete>
    <select id="selectWeiboDetail" resultType="top.sakai.weibo.pojo.vo.WeiboDetailVO">
        SELECT w.content, w.created, w.id, u.nickname
        FROM blog.weibo w
                 Join blog.user u on u.id = w.user_id
        WHERE w.id = #{id}
    </select>
</mapper>
