<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.baking.mapper.ContentMapper">
    <insert id="insert">
        INSERT INTO baking.content(title, img_url, video_url, content, type, view_count, comment_count, brief,
                                   category_id, user_id, create_time)
        VALUES (#{title}, #{imgUrl}, #{videoUrl}, #{content}, #{type},
                0, 0, #{brief},
                #{categoryId}, #{userId}, #{createTime})
    </insert>
    <select id="selectForManagement" resultType="cn.tedu.baking.pojo.vo.ContentManagementVO">
        SELECT c.id,
               title,
               brief,
               c.type,
               cat.name categoryName,
               view_count,
               comment_count,
               create_time
        FROM baking.content c
                 JOIN baking.category cat on cat.id = c.category_id
        WHERE c.type = #{type}
          AND c.user_id = #{userId}
    </select>
    <delete id="deleteById">
        DELETE
        FROM baking.content
        WHERE id = #{id}
    </delete>
    <select id="selectForUpdateById" resultType="cn.tedu.baking.pojo.vo.ContentUpdateVO">
        SELECT id, title, img_url, video_url, content, type, category_id
        FROM baking.content
        WHERE id = #{id}
    </select>
    <update id="updateById">
        UPDATE baking.content
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="imgUrl!=null">img_url=#{imgUrl},</if>
            <if test="videoUrl!=null">video_url=#{videoUrl},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="updateTime!=null">update_time=#{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="selectContentByTypeCategoryId" resultType="cn.tedu.baking.pojo.vo.ContentIndexVO">
        SELECT c.id, c.title, c.img_url, u.img_url userImgUrl, u.nickname, cat.name categoryName
        FROM baking.content c
        JOIN baking.user u on u.id = c.user_id
        JOIN baking.category cat on cat.id = c.category_id
        WHERE c.type = #{type}
        <if test="categoryId!=0">AND c.category_id = #{categoryId}</if>
        LIMIT 0,4
    </select>
    <select id="selectDetailById" resultType="cn.tedu.baking.pojo.vo.ContentDetailVO">
        SELECT c.id,
               c.title,
               c.brief,
               c.content,
               u.nickname,
               u.img_url userImgUrl,
               c.create_time,
               c.view_count,
               u.id      userId,
               c.type,
               c.video_url
        FROM baking.content c
                 JOIN baking.category cat on cat.id = c.category_id
                 JOIN baking.user u on u.id = c.user_id
        WHERE c.id = #{id}
    </select>
</mapper>
