<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.baking.mapper.ContentMapper">

    <insert id="insert">
        INSERT INTO baking.content(title, img_url, video_url, content, type, view_count, comment_count, brief,
                                   category_id, user_id, create_time)
        VALUES (#{title}, #{imgUrl}, #{videoUrl}, #{content}, #{type},
                0, 0, #{brief},
                #{categoryId}, #{userId}, #{createTime})
    </insert>
</mapper>
